[submodule "vim/pack/plugins/start/vim-fugitive"]
	path = vim/pack/git/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/lsp/start/vim-lsp"]
	path = vim/pack/lsp/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "vim/pack/lsp/start/vim-lsp-settings"]
	path = vim/pack/lsp/start/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings
